@font-face {
  font-family: "iconfont"; /* Project id 2834995 */
  src: url('iconfont.woff2?t=1632625253977') format('woff2'),
       url('iconfont.woff?t=1632625253977') format('woff'),
       url('iconfont.ttf?t=1632625253977') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-shouye:before {
  content: "\e603";
}

.icon-xinxi:before {
  content: "\e607";
}

.icon-bixinmian:before {
  content: "\e684";
}

